//author: Ye Wang <yewangfaith@gmail.com>


params.email = "yewangfaith@gmail.com"


profiles {


    local {
        includeConfig 'conf/local.config'
    }

    local_debug {

        includeConfig 'conf/local_debug.config'
    }

    quest_debug {
        includeConfig 'conf/quest_debug.config'
    }
    
    quest {
        includeConfig 'conf/quest.config'
    }

    gcp_debug {
        includeConfig 'conf/gcp_debug.config'
    }
    gcp {
        includeConfig 'conf/gcp.config'
    }

}

timeline {
    enabled = true
}

report {
    enabled = true
}

trace {
    enabled = true
}

dag {
    enabled = true
}

