
// For quest debug

// singularity { singularity.enabled = true }

process {

//     module='singularity/latest'

//     withLabel: bam_coverage {

//     container  = 'docker://faithman/bam_toolbox:latest'

// }

//     container  = 'docker://faithman/concordance:latest'
    // module = "R/3.6.0"

}

params {
    debug = true
    date = new Date().format( 'yyyyMMdd' )
    genome = "WS283"
    fq_file_prefix = "test_data"
    params.out = "DEBUG_concordance-${date}"
    //reference = "WS245/WS245.fa.gz"
    // reference = "/projects/b1059/data/genomes/c_elegans/${genome}"
    fq_file = 'test_data/sample_sheet.tsv'

    min_depth = 0
    qual = 1
    mapping_quality = 2
    dv_dp = 0.1
    min_depth_individual = 1
    cores = 4
}
